.movie-card {
    background-color: cornflowerblue;
    align-items: center;
    align-content: space-between;
    gap: 80px;
}



button {
    background-color: #22171b;
    height: 32px;
    color: white;
    border-radius: 4px;
    width: 70px;
    border: none;
    cursor: pointer;
}