.movie-card {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
}

img {
    width: 120px;
    height: 200px;
    object-fit: scale-down;
}